body {
    background-color: purple;
  }
#search {
  
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}
  .kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
  }
  
  .kanban-heading-text {
    font-size: 1.8rem;
    background-color: green;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  
  .section {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem; 
  }
  
  #toDoSection {
    background-color: red;
  }
  
  #inProgSection {
    background-color: #ffaf00;
  }
  
  #doneSection {
    background-color: #018b01;
  }

  .task {
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
  }
 
  .submit, .submitText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  
  
  .submit {
    width: 120px;
    height: 40px;
    background-color: dodgerblue;
    border-radius: 6px;
    margin-top: 10px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
  }
  
  .submit svg{
    transform: rotate(180deg);
    transition: all .5s;
  }
  
  .submit__circle {
    width: 70px;
    height: 70px;
    background: mediumseagreen;
    border-radius: 50%;
    transform: rotate(-180deg);
  }
  
  .submit:hover {
    cursor: pointer;
  }
  
  .submitText {
    color: black;
    font-size: 1.2em;
    transition: all 1.5s;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }