body
{
    background-color: purple;
}
.kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
  }
  
  .kanban-heading-text {
    font-size: 1.8rem;
    background-color: green;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  
  .section {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem; 
  }


  
  #todo {
    background-color: red;
  }
  
  #inprogress {
    background-color: #ffaf00;
    /* display: none; */
  }
  
  #done {
    background-color: #018b01;
    /* display: none; */
  }